mixin navbar(options)
    - var DEFAULT_OPTIONS = { current: 'Home', tabs: ['Development', 'Music', 'About', 'Contact']  };
    - options = Object.assign({}, DEFAULT_OPTIONS, options || {});
    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
        button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        .container
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href="/")
                            i.fa.fa-home(aria-hidden="true")
                            span.sr-only (current)
                    each val in options.tabs
                        li.nav-item
                            if (val == options.current)
                                a.nav-link(href=val) 
                                    strong #{val}
                            else
                                a.nav-link(href=val) #{val}

