include partials/header.pug
include partials/gallery.pug

body
    include partials/navbar.pug

    +navbar({current: "Development"})

- console.log(devposts);

+gallery({devposts: devposts})

include partials/footer.pug
